データ取得をしたwebページ:
https://www.kaggle.com/datasets/bartvh/grape-yield-vs-avg-growing-season-temperature

データについて内容：2001年から2018年までドイツの気温とブドウの生産量です。

目的変数：ブドウの生産量


説明変数：ドイツ毎年の平均値気温

気温が上がると、ブドウの生産量も上がる。

データの内容：

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("C:/Users/koyama/Downloads/応用統計1/simple_regression/RieslingYield_vs_avgTemp_no_comment.csv",encoding = 'utf-8')
df.head()

   year   avg_temp   yield
0  2001       14.0    74.9
1  2002       13.5    93.0
2  2003       13.5    79.2
3  2004       13.4    92.2
4  2005       14.3    77.9